{# extende o arquivo do template global base.html #}
{% extends 'base.html' %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# definindo o title a ser inserido no base.html #}
{% block title %}Carrinho de Compras{% endblock %}

{# criando o bloco content a ser inserido no base.html #}
{% block content %}

{{ request.session.cart }}

{# se o carrinho existir na sessão #}
{% if request.session.cart %}

    {# renderizando a tabela com os itens do carrinho #}
    <div class="table-responsive">
        <table class="table">
            {# cabeçalho da tabela #}
            <tr>
                <th class="d-none d-lg-block">Imagem</th>
                <th>Produto</th>
                <th>Variação</th>
                <th>Quantidade</th>
                <th>Total</th>
            </tr>

            {# iterando pelos itens do carrinho #}
            {% for item in request.session.cart.values %}
            <tr>
                {# imagem #}
                <td class="d-none d-lg-block">
                    <img class="cart-img" src="{{ item.imagem }}">
                </td>

                {# nome do produto #}
                <td>
                    {# nome do produto #}
                    <a href="{% url 'produto:detail' item.slug %}">
                        {{ item.produto_nome }}
                    </a>
                    {# ícone remover #}
                    <a class="ml-3" href="#">
                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                    </a>
                </td>

                {# nome da variação #}
                <td>{{ item.variacao_nome }}</td>

                {# quantidade #}
                <td>
                    {{ item.qtd }} x

                    {# se existir preço promocional, considera-o #}
                    {% if item.preco_unitario_promocional %}
                        {{ item.preco_unitario_promocional }}

                    {# senão, considera o preço #}
                    {% else %}                
                        {{ item.preco_unitario }}
                    {% endif %}
                </td>

                {# total #}
                {# se existir preço total promocional, considera-o #}
                {% if item.preco_total_promocional %}
                    <td>{{ item.preco_total_promocional }}</td>

                {# senão, considera o preço total #}
                {% else %}
                    <td>{{ item.preco_total }}</td>
                {% endif %}

            </tr>
            {% endfor %}

        </table>
    </div>

{# senão #}
{% else %}

    {# renderiza mensagem de carrinho vazio #}
    <div class="row mt-3">
        <div class="col">
            <h3>Carrinho vazio</h3>
            <p class="lead">Não há produtos no seu carrinho.</p>
        </div>
    </div>

{% endif %}

{% endblock %}
