{# extende o arquivo do template global base.html #}
{% extends 'base.html' %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# definindo o title a ser inserido no base.html #}
{% block title %}Detalhe do Produto{% endblock %}

{# criando o bloco content a ser inserido no base.html #}
{% block content %}

<div class="row">

    {# inserindo a imagem #}
    {# se existir imagem cadastrada, adiciona no template #}
    {# senão utiliza a imagem default #}
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <img class="img-fluid" src="{% if produto.imagem %}{{ produto.imagem.url }}{% else %}{{ '/media/default.png' }}{% endif %}">
            </div>
        </div>
    </div>

    {# inserindo os dados do produto #}
    <div class="col-lg">
        <div class="mt-4 mt-lg-0">
            <h1 class="h2">{{ produto.nome }}</h1>
            <p class="lead">{{ produto.descricao_curta }}</p>
            <p class="lead">

            {# inserindo o span do preço #}
            <span id="variation-preco-promocional" class="lead product-price"></span>
            
            {# inserindo o span do preço tachado #}
            <span id="variation-preco" class="lead product-old-price text-muted"></span>

            </p>

            {# se existir variação, exibe o select #}
            {% if produto.disponivel == True %}

                <form action="{% url 'produto:addcart' %}" id="form-add-to-cart">
                    <div class="form-group">


                        {# inserindo as variações do produto #}
                        <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                
                                {# inserindo a opção default #}
                                <option data-preco=""
                                    data-preco-promocional=""
                                    value="" selected="selected">{% if produto.tipo == 'S' %}Produto indisponível{% else %}Selecione um produto{% endif %}
                                </option>
                            
                            {# iterando sobre o array de variações #}
                            {% for variacao in produto.variacao_set.all %}
                            
                                {# inserindo as variações #}
                                <option data-preco="{{ variacao.preco|currency_format }}"
                                    data-preco-promocional="{{ variacao.preco_promocional|currency_format }}"
                                    value="{{ variacao.id }}">{{ variacao.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="text-left">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Adicionar ao carrinho
                        </button>
                    </div>

                </form>
            
                {# exibe mensagem de produto indisponível #}
                {% else %}

                    <p class="lead text-danger">Produto indisponível</p>

                {% endif %}

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="mt-5 mb-5">
            <h2 class="text-center">{{ produto.nome }}</h2>
            {{ produto.descricao_longa|linebreaks }}
        </div>
    </div>
</div>

{% endblock %}
