{# extende o arquivo do template global base.html #}
{% extends 'base.html' %}

{# definindo o title a ser inserido no base.html #}
{% block title %}Detalhe do {{ pedido }}{% endblock %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# carregando o suporte a arquivos estáticos #}
{% load static %}

{# criando o bloco content a ser inserido no base.html #}
{% block content %}

{# carregando a tabela do pedido definida em partials/_pedido.html #}
{% include 'partials/_pedido.html' %}

{% endblock %}