{# extende o arquivo do template global base.html #}
{% extends 'base.html' %}

{# definindo o title a ser inserido no base.html #}
{% block title %}Pedidos de {{ user }} {% endblock %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# criando o bloco content a ser inserido no base.html #}
{% block content %}

<div class="row">
    <div class="col">

        {# renderizando o nome do usuário #}
        <h3 class="mb-4">Pedidos de {{ user }}</h3>

        {# se existirem pedidos do usuário logado #}
        {% if pedidos %}

            <p>Abaixo todos os seus pedidos realizados:</p>

            {# renderizando a tabela dos pedidos #}
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="col" class="text-center">Pedido</th>
                        <th scope="col" class="text-center">Data</th>
                        <th scope="col" class="text-center">Total</th>
                        <th scope="col" class="text-center">Quantidade de Itens</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Mais detalhes</th>
                    </tr>

                    {# iterando sobre o array de pedidos #}
                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row" class="text-center">{{ pedido }}</td>
                        <td class="text-center">{{ pedido.data }}</td>
                        <td class="text-center">{{ pedido.total|currency_format }}</td>
                        <td class="text-center">{{ pedido.quantidade }}</td>
                        <td class="text-center">{{ pedido.get_status_display }}</td>
                        <td class="text-center">
                            <a href="{% url 'pedido:detail' pedido.id %}">
                                Ver <i class="fas fa-search-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}


                </table>
            </div>

        {# senão #}
        {% else %}

            {# renderizando mensagem #}
            <p class="lead">Nenhum pedido realizado.</p>

        {% endif %}

    </div>
</div>

{# carregando a paginação definida em partial/_pagination.html #}
{% include 'partials/_pagination.html' %}

{% endblock %}