{% extends 'base.html' %}

{# definindo o title a ser inserido no base.html #}
{% block title %}Pagar Pedido{% endblock %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# carregando o suporte a arquivos estáticos #}
{% load static %}

{# criando o bloco content a ser inserido no base.html #}
{% block content %}

<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <p>Para o desenvolvedor: adicione seu método de pagamento preferido.</p>
    </div>
</div>

{# renderizando a tabela com os dados do pedido #}
<div class="row">
    <div class="col">

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4">{{ pedido.id }}</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">{{ pedido.total|currency_format }}</div>

            <div class="col-lg-2 font-weight-bold">Quantidade de Itens:</div>
            <div class="col-lg-4">{{ pedido.quantidade }}</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">{{ pedido.get_status_display }}</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        {# renderizando a tabela com os itens do pedido #}
        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>Variação</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                </tr>

                {# iterando sobre o array de itens do pedido #}
                {% for linha in pedido.itempedido_set.all %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                    </td>
                    <td>{{ linha.nome_produto }}</td>
                    <td>{{ linha.nome_variacao }}</td>
                    <td>{{ linha.quantidade }}</td>
                    <td>
                        {# se existir preço promocional, considera-o #}
                        {% if linha.preco_promocional %}
                            {{ linha.preco_promocional|currency_format }}

                        {# senão, considera o preço #}
                        {% else %}
                            {{ linha.preco|currency_format }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{# renderizando o botão de pagar #}
<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
    </div>
</div>


{% endblock %}