{# arquivo parcial com o carrinho da sessão #}

{# carregando o suporte a arquivos estáticos #}
{% load static %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# renderizando a tabela com os itens do carrinho #}
<div class="table-responsive">
    <table class="table">
        {# cabeçalho da tabela #}
        <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th>Variação</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>

        {# iterando pelos itens do carrinho #}
        {% for item in cart.values %}
        <tr>
            {# imagem #}
            <td class="d-none d-lg-block">
                <img class="cart-img" src="{% get_media_prefix %}{{ item.imagem }}">
            </td>

            {# link do produto #}
            <td>
                {# nome do produto #}
                <a href="{% url 'produto:detail' item.slug %}">
                    {{ item.produto_nome }}
                </a>
                {# ícone remover #}
                <a class="ml-3" href="{% url 'produto:removecart' %}?vid={{ item.variacao_id }}">
                    <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                </a>
            </td>

            {# nome da variação #}
            <td>{{ item.variacao_nome }}</td>

            {# quantidade #}
            <td>
                {{ item.qtd }} x

                {# se existir preço promocional, considera-o #}
                {% if item.preco_unitario_promocional %}
                    {{ item.preco_unitario_promocional }}

                {# senão, considera o preço #}
                {% else %}                
                    {{ item.preco_unitario }}
                {% endif %}
            </td>

            {# total #}
            {# se existir preço total promocional, considera-o #}
            {% if item.preco_total_promocional %}
                <td>{{ item.preco_total_promocional }}</td>

            {# senão, considera o preço total #}
            {% else %}
                <td>{{ item.preco_total }}</td>
            {% endif %}

        </tr>
        {% endfor %}

    </table>
</div>