{# carregando o suporte a arquivos estáticos #}
{% load static %}

{# carregando o módulo de filtros personalizados #}
{% load customizedFilters %}

{# renderizando a tabela com os dados do pedido #}
<div class="row">
    <div class="col">

        <h3>{{ pedido }}</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Data do pedido:</div>
            <div class="col-lg-4">{{ pedido.data }}</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">{{ pedido.total|currency_format }}</div>

            <div class="col-lg-2 font-weight-bold">Quantidade de Itens:</div>
            <div class="col-lg-4">{{ pedido.quantidade }}</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">{{ pedido.get_status_display }}</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        {# renderizando a tabela com os itens do pedido #}
        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th class="text-center">Produto</th>
                    <th class="text-center">Variação</th>
                    <th class="text-center">Quantidade</th>
                    <th class="text-center">Preço Unitário</th>
                    <th class="text-center">Preço Total</th>
                </tr>

                {# iterando sobre o array de itens do pedido #}
                {% for linha in pedido.itempedido_set.all %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                    </td>
                    <td class="text-center">{{ linha.nome_produto }}</td>
                    <td class="text-center">{{ linha.nome_variacao }}</td>
                    <td class="text-center">{{ linha.quantidade }}</td>
                    <td class="text-center">
                        {# se existir preço promocional, considera-o #}
                        {% if linha.preco_promocional %}
                            {{ linha.preco_promocional|currency_format }}

                        {# senão, considera o preço #}
                        {% else %}
                            {{ linha.preco|currency_format }}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ linha|calculate_total_price|currency_format }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>